

/* div {
  background-color: #3b404b;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px
} */

div {
  background-color: white;
  padding:1px 15px;
  margin-top: 5px;
  
  

  
}